:root{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar{
    width: 0.25rem;
}

body::-webkit-scrollbar-track{
    background: #000;
}

body::-webkit-scrollbar-thumb {
    background: #005777;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    
}

*::before, *::after {
    box-sizing: border-box;
}

html, body{
    overflow-x: hidden;

}

main {
    margin-left: 5rem;

}

#banner {
    background: linear-gradient(rgba(255,255,255,0.2), #005777), url(images/vans.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.logo{
    width: 140px;
    position: absolute;
    top: 4%;
    left: 15%
}

.banner-text {
    text-align: center;
    color: #fff;
    padding-top: 180px;
}

.banner-text h1 {
    font-size: 7rem;
}

.banner-text p {
    font-size: 1.5rem;
    font-style: italic;
}

.banner-btn {
    margin: 70px auto 0;
    color: #005777;
}

.banner-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: .5px solid #fff;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}

.banner-btn a span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffff;
    z-index: -1;
    transition: 0.3s;
}

.banner-btn a:hover span{
    width: 100%;
}

.banner-btn a:hover{
    color: #005777 
}

.navbar{
    position: fixed;
    background-color: #005777;
    transition: width 200ms ease;
    /* overflow: scroll; */
}

.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item:last-child{
    margin-top: auto;
}

.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    color: #fff;
    text-decoration: none;
    filter: grayscale(100%) opacity(.5);
    transition: 600ms;
}

.nav-link:hover{
    filter: grayscale(0%) opacity(1);
}

.link-text{
    display: none;
    margin-left: 1rem;
}

.nav-link svg{
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
    filter: invert(100%);
}

#testimonials{
    width: 100%;
    padding: 20px 0;
}

.title-text{
    text-align: center;
    padding-bottom: 70px;
}

#feature{
    width: 100%;
    padding: 5rem 0;
}

.title-text h1{
    margin: auto;
    font-size: 1.5rem;
    color: #005777;
    position: relative;
    z-index: 1;
    display: inline-block;
}

.feature-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.features{
    flex-basis: 50%;
}

.features-img{
    flex-basis: 50%;
    margin: auto;
}

.features-img img{
    width: 70%;
    border-radius: 10px;
}

.features h1{
    text-align: left;
    margin-bottom: 2rem;
    font-weight: 100;
    color: #005777;
}

.features h2{
    text-align: left;
    margin-bottom: 2rem;
    font-weight: 70;
}

#reviews{
    width: 100%;
    padding: 5rem 0;
    padding-left: 2rem;
    background: #efefef;
}

.review-box-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.review-box{
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}

.review-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}


.profile-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile {
    display: flex;
    align-items: center;
}

.username{
    display: flex;
    flex-direction: column;
}

.username strong{
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.title-text a{
    color: #005777;
    font-size: 2rem;
    margin-top: 3rem;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.carousel {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.carousel > ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide{
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide > img {
    padding-left: 15rem;
    width: 70%;
    height: 70%;
    object-fit: cover;
    object-position: center;
}

.slide[data-active]{
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button{
    position: relative;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 30%;
    transform:  translateY(-50%);
    color: rgba(255,255,255,0.5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0,0,0,0.1);
}

.carousel-button:hover, .carousel-button:focus{
    color: white;
    background-color: rgba(0,0,0,0.2);
}

.carousel-button.prev{
    left: 12rem;
}

.carousel-button.next{
    left: 95rem;
}

#gallery{
    padding: 5rem 0;
    width: 100%;
}

#contact{
    background: #efefef;
    padding: 5rem 0;
    width: 100%;
}

.contact-info{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content:center;
}

.contact-info p{
    font-size: 2rem;
}

/* small */
@media only screen and (max-width: 600px){
    .banner-text h1 {
        font-size: 3rem;
    }

    .navbar{
        bottom: 0;
        width: 100vw;
        height: 5rem;
   }

   .navbar-nav{
        flex-direction: row;
   }

   .nav-link{
        justify-content: center;
   }

   main {
    margin: 0;
   }
   
   .banner-btn a{
    display: block;
    margin: 20px auto;
    }

    .features{
        flex-basis: 100%;
    }

    .features-img{
        flex-basis: 100%;
    }

    .features-img img{
        width: 100%;
    }

    .review-box{
        width: 60%;
        padding: 10px;
    }

    .review-box-container{
        display: block;
        padding-left: 2rem;
    }

    .title-text h1{
        font-size: 40px;
    }

    .title-text a{
        font-size: 20px;
        
    }

    .slide > img {
        display: block;
        padding-left: 0rem;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .carousel-button.prev{
        left: 1rem;
    }

    .carousel-button.next{
        left: 20rem;
    }

    #reviews{
        width: 100%;
        /* padding: 5rem 0; */
        /* padding-left: 5rem; */
        background: #efefef;
    }
}


/* large */
@media only screen and (min-width: 600px){
    .navbar{
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover{
        width: 16rem;
    }

    .navbar:hover .link-text{
        display: inline;
        transition: opacity 600ms;
    }

    .main {
        margin: 0;
    }

}

